body {
    background-color: grey;
  }
  
  
  /*  MAIN CONTAINER FOR MPC*/
  
  .main-container {
    position: relative;
    border: 32px inset #333333;
    border-radius: 5%;
    margin-left: 15%;
    width: 900px;
    height: 620px;
    box-shadow: 0px 0px 5px 5px #262626;
    background: radial-gradient(#1a1a1a, #262626);
  }  
    .title {
    font-family: 'Russo One', sans-serif;
    position: absolute;
    margin-top: -40px;
    float: left;
    text-align: center;
    color:rgb(243, 9, 9) ;
  }
  
  
  /* BACKGROUND BEHIND PADS */
  
  .flex-container {
    position: relative;
    display: flex;
    width: 500px;
    height: 320px;
    border-radius: 15px;
    box-shadow: 0px 0px 1px 1px;
    border: 1px solid silver;
    margin-top: 36px;
    margin-left: 15%;
    padding: 50px 50px;
    padding-bottom: 142px;
    background: -webkit-linear-gradient(rgb(17, 17, 17), rgb(13, 13, 14));
  }
  
  
  /* PAD BOX CONTAINER  */
  
  .box {
    position: relative;
    border: 2px solid transparent;
    width: 430px;
    margin-left: 37px;
    margin-top: 22px;
    text-align: center;
  }
  
  
  /*  DRUM PADS'*/
  
  .flex-item {
    position: relative;
    background-color: #262626;
    box-shadow: 0px 0px 3px 2px;
    border-radius: 5%;
    width: 100px;
    height: 90px;
    margin-top: 10px;
    margin-left: 2px;
    padding: 11px;
    padding-top: 5px;
  }
  
 /* RED BUTTONS  */
  
  button {
    text-align: center;
    padding-bottom: 7px;
    background-color: red;
    border-radius: 5%;
  }